*__pycache__*
.idea/
*.directory
*.blend1
*.blend2
/export/
MeshViewer.ocs/TestObject.ocd/*.skeleton
MeshViewer.ocs/TestObject.ocd/*.mesh
MeshViewer.ocs/TestObject.ocd/*.xml
MeshViewer.ocs/TestObject.ocd/*.png
MeshViewer.ocs/TestObject.ocd/*.jpg
MeshViewer.ocs/TestObject.ocd/*.material
